/* .bar {

    fill: steelblue;
  
  }
  
  .bar:hover {
  
    fill: brown;
  
  }
  .axis--x path {
    display: none;
  
  } */
p.center {
    text-align: center;
    color: red;
}

p.large {
    font-size: 300%;
}
.chart div{
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}